html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#tw-left-panel {
	width: 38.5%;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100vh;
	padding: 32px 64px;
	background: rgb(43, 158, 235);
	color: #fafafa;
}

#tw-right-panel {
	width: 61.5%;
	margin-left: 38.5%;
	padding: 32px 64px;
}
nav {
	margin-bottom: 36px;
}
nav h1 {
	font-size: 36px;
	letter-spacing: 8px;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 28px;
}
nav h1 span {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 0;
}

.circular-btn {
	border-radius: 100px;
	width: 100%;
}

.label.centered {
	text-align: center;
}

.input-bg-tw {
	background: rgba(255, 255, 255, 0.05);
	border: none;
	color: #fafafa;
}
.input-bg-tw::placeholder {
	color: #fafafa;
}

.input-bg-tw .icon .fa {
	color: #fafafa;
}

#letter-count {
	visibility: hidden;
}

.tw-card {
	margin-bottom : 32px;
}

.user-picture {
	display: block;
	border-radius: 100%;
	margin-right: 16px;
}
.tw-date {
	font-size: 10px;
	color: rgb(43, 158, 235);
}
.tw-hashtag {
	font-size: 10px;
	color: rgb(43, 158, 235);
	font-weight: bold;
}